.number-container {
  align-items: center;
  background: #25a575;
  color: var(--white);
  display: flex;
  font-size: 26px;
  font-weight: 500;
  height: 64px;
  justify-content: center;
  line-height: 16px;
  width: 40px;
}
